.music {
    width: 25px;
    height: 21px;
    background-position: -175px -75px !important;
    position: absolute;
    top: 2px;
    left: -12px;

    &.filled {
        background-position: -150px -75px !important;
    }
}

.bg {
    background: url("/assets/img/bg.png") no-repeat;
    overflow: hidden;
}