.pause {
  width: 20px;
  height: 18px;
  background-position: -100px -75px !important;
  position: absolute;
  top: 3px;
  left: 18px;

  &.filled {
    background-position: -75px -75px !important;
  }
}

.bg {
  background: url("/svelte-tetris/assets/img/bg.png") no-repeat;
  overflow: hidden;
}
